@media screen and (max-width: 1024px) {
  .menu_bars {
    display: block;
  }
  .demo_slider {
    width: 90%;
    height: 100vh;
  }
  .demo_slider h1 {
    font-size: 22px;
  }
  .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .main h1 {
    font-size: 18px;
  }
  .categoryh1 {
    font-size: 18px;
  }
  .modal__container {
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(3px);
  }
  .closeX {
    display: none;
  }
  .user_login {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }
  .right_user_content,
  .left_user_content {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
    height: 500px;
    padding: 20px;
  }

  @media screen and (max-width: 768px) {
    .demo_slider {
      height: 300px;
    }

    .ulDiv {
      display: none;
    }
    .demo_slider {
      width: 90%;
      height: 90vh;
    }
    .demo_slider h1 {
      font-size: 18px;
    }
    .main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .main h1 {
      font-size: 19px;
    }
    .categoryh1 {
      font-size: 15px;
    }
    .searchInput {
      width: 300px;
      height: 50px;
    }
    .modal__container {
      width: 100%;
      height: 100vh;
      backdrop-filter: blur(3px);
    }
    .closeX {
      display: none;
    }
    .user_login {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 50px;
      width: 100%;
      margin: 0 auto;
    }
    .right_user_content,
    .left_user_content {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      width: 100%;
      height: 500px;
      padding: 20px;
    }
  }

  @media screen and (max-width: 425px) {
    .demo_slider {
      width: 90%;
      height: 100vh;
    }
    .product {
      display: block;
    }
    .products {
      width: 80%;
      margin: 0 auto;
    }
    .demo_slider h1 {
      font-size: 12px;
    }
    .main {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    .main h1 {
      font-size: 17px;
    }
    .categoryh1 {
      font-size: 12px;
    }
    .searchInput {
      width: 200px;
      height: 50px;
    }
    .closeX {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .thumb {
    height: 50px;
  }
  .thumb img {
    width: 50px;
  }
}
